---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to TerminalQuest">
	<main>
		<h1>Welcome to <span class="text-gradient">TerminalQuest</span></h1>
		<p class="instructions">
			Answer the call of the cursor, and discover your power to change the world
			with code. This is the new home for the edcuational PC game formerly
			known as TwilioQuest. It is very early days, so expect a lot of change
			here in the days ahead! Here's how you can stay engaged with the project.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://github.com/TerminalQuest"
				title="GitHub"
				body="Follow our progress on GitHub"
			/>
			<Card
				href="https://discord.gg/Ct4YmyjaVc"
				title="Discord"
				body="Join our Discord server to hang out with players and developers."
			/>
			<Card
				href="https://twitter.com/TerminalQuest"
				title="Twitter"
				body="Maybe see updates here before Elon Musk completely destroys this business?"
			/>
			<Card
				href="#"
				title="Download TQ"
				body="Download a development build of the game (coming soon)!"
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 2.5rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
